// Menu list
.menu-list {
    width: 242px;
    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-item {
    width: 100%;
    height: 41px;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}

// Header
.header {
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: -13px;
}

.button-back {
    background-color: transparent;
    height: 50px;
    font-size: 1.6rem;
    margin-left: 28px;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    font-weight: 500;
}
